body{
    font-family: 'Heebo', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(143, 93, 93);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(130, 186, 197);
  }

h1{
    font-size: 50px;
}
.span{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 1%;
}
.half-width{
 
        width: 50%;
        padding-left: 5%;
   
}
.half-width img{
    width: 80%;
}
.top{
    margin-top: 10%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
}
.about
{
    background-image: url("../images/shapes/abs.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100%;
    background-position-x: 100%;
    background-position-y: 80%;

}
p{
    margin-bottom: 50px;
}

.color-highlight{
    color: brown;
}
.recipies-title{
    width: 40%;    
    border-radius: 4%;
    margin-left: 2%;
    margin-right: 5%;
    padding: 1%;
    box-shadow: 5px 5px 40px gray;
    margin-bottom: 4%;
    height: 70%;
    float: left;
}
.recipies-title img{
    width: 100%;
}
.recipies-side{
    margin-left: 1%;
    margin-right: 1%;
}

.my-recipies{
    text-align: center;
}


 #shadow{
    display: flex;
    box-shadow: 6px 6px 40px gray;
    border-radius: 20px;
    margin: 80px;
    padding-left: 20px;
    padding-right: 20px;
}
#text{
    color: #484848;
    font-size: 20px;
    margin-bottom: 40px;
}

.insights{
    width: 33.33%;
    margin: 20px 10px;
    align-content: center;
    text-align: center;
    margin-left: 25px;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 200px;
    background-color: rgb(13, 13, 27);
    color: white;
    text-align: center;
 }